<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>footer</title>
</head>
<body>
	<footer id="fragment" th:fragment="footer1(name)">
		<div class="container">
			<h2>This is <span th:text="${name}"></span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quo cupiditate non quibusdam possimus optio assumenda molestias neque impedit laboriosam fugit illo placeat obcaecati iure earum officia nisi harum nam!</p>
		</div>
	</footer>
</body>
</html>