<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>
<body>
	<section>
		<h2>This is new About page</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quae quaerat impedit eaque inventore rem natus delectus! Consequatur ut et maiores laboriosam at vitae. Omnis incidunt recusandae. Deleniti dolore eum itaque aliquid quibusdam laudantium ipsum voluptate quidem omnis libero adipisci sunt odit! Fugiat minus repudiandae possimus beatae laboriosam earum illum!</p>
	</section>
</body>
</html>